<a href="https://colab.research.google.com/github/nazia-noor/DATA690_Nazia/blob/main/assignment_04/assignment4_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Write code to open the text file census_costs.txt

In [1]:
import pandas as pd

In [2]:
#read all lines into a list named "line_list" and Print line_list.

with open("/content/census_costs.txt","r" ) as f:
  line_list= f.readlines()  
  
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

## 2.Extract the first two lines and put them in a different list

In [3]:
top2_list = line_list[:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

## 3.Extract rest of the lines (containing useful data elements) in a new list

In [4]:
data_list= line_list[2:]
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

## 4.Extract the column "Census Year" from data_list and clean it

In [5]:
#for i in range(len(line_list)):
 # print(line_list[i], sep='\t')

In [6]:
year_list= [line.split("\t")[0].strip("*") for line in data_list]
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

## 5.Extract the "Total Population" column from the data_list and clean it(removing commas)

In [7]:
pop_list=[line.split("\t")[1] for line in data_list]
pop_list=[i.replace(",", "") for i in pop_list]
print(pop_list)

['3929214', '5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

## 6. Extract the "Census Cost" column from the data_list and clean it. Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [8]:
#Remove the "," and "$"
cost_list=[line.split("\t")[2] for line in data_list]
cost_list=[i.replace(",", "").replace("$","") for i in cost_list]
print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4.5 Billion', '13 Billion']

In [9]:
#Remove "Billion" and add necessary zero instead of billion
for i in range(len(cost_list)):
  if "Billion" in cost_list[i]:
    cost_list[i]=cost_list[i].replace(" Billion","")
    cost_list[i]=(float(cost_list[i]))*(1000000000)
  cost_list[i]=int(cost_list[i])
cost_list

[44377,
 66109,
 178445,
 208526,
 378545,
 833371,
 1423351,
 1969377,
 3421198,
 5790678,
 11547127,
 11854000,
 15968000,
 25117000,
 40156000,
 67527000,
 91462000,
 127934000,
 247653000,
 1078488000,
 2492830000,
 4500000000,
 13000000000]

## 7.Extract the "Average Cost per Person" column from the data_list and assign them to a  new list.

In [10]:
# Remove the "cents" and "\n" . 
x=[line.split("\t")[-1].replace(" cents","").replace("\n","") for line in data_list]

print(x)

['1.13', '1.24', '2.46', '2.16', '2.94', '4.88', '6.14', '6.26', '8.87', '11.54', '18.33', '15.54', '17.07', '23.76', '32.71', '51.29', '60.44', '71.34', '$1.22', '$4.76', '$10.02', '$15.99', '$42.11']

Convert cents to dollar divide

In [11]:
list1=x[:-5]
list2=x[-5:]

In [12]:
#remove "$" 
final_list2=[i.replace("$","") for i in list2]
final_list2

['1.22', '4.76', '10.02', '15.99', '42.11']

In [13]:
# Converting cent to dollar
for i in range(len(list1)):
  list1[i] = float(list1[i])
  list1[i] = list1[i]/100
  final_list1 = list1
print(final_list1)

[0.0113, 0.0124, 0.0246, 0.0216, 0.0294, 0.048799999999999996, 0.061399999999999996, 0.0626, 0.08869999999999999, 0.11539999999999999, 0.1833, 0.15539999999999998, 0.1707, 0.2376, 0.3271, 0.5129, 0.6043999999999999, 0.7134]

In [14]:
# Cleansed average list
avg_list=final_list1+final_list2
avg_list

[0.0113,
 0.0124,
 0.0246,
 0.0216,
 0.0294,
 0.048799999999999996,
 0.061399999999999996,
 0.0626,
 0.08869999999999999,
 0.11539999999999999,
 0.1833,
 0.15539999999999998,
 0.1707,
 0.2376,
 0.3271,
 0.5129,
 0.6043999999999999,
 0.7134,
 '1.22',
 '4.76',
 '10.02',
 '15.99',
 '42.11']

## 8. Coalesce the cleansed data and save them to a text file named "census_cost.csv".

In [15]:
final_list=[list(a) for a in zip(year_list, pop_list, cost_list, avg_list)]

In [16]:
with open('/content/census_cost.csv', 'w') as f:
    for item in top2_list:
        f.write(item)

## 9. Write code to open the newly-created file "census_cost.csv", read all lines and display them.

In [17]:
for i in range(len(final_list)) :
  for j in range(len(final_list[i])) :
        print(final_list[i][j], end=" ",  file=open("census_cost.csv", "a"))
  print("\n",file=open("census_cost.csv", "a") )

In [18]:
with open("/content/census_cost.csv",'r') as f1:
   new_csv =f1 .readlines()
print(new_csv)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790 3929214 44377 0.0113 \n', '\n', '1800 5308483 66109 0.0124 \n', '\n', '1810 7239881 178445 0.0246 \n', '\n', '1820 9633822 208526 0.0216 \n', '\n', '1830 12866020 378545 0.0294 \n', '\n', '1840 17069458 833371 0.048799999999999996 \n', '\n', '1850 23191876 1423351 0.061399999999999996 \n', '\n', '1860 31443321 1969377 0.0626 \n', '\n', '1870 38558371 3421198 0.08869999999999999 \n', '\n', '1880 50155783 5790678 0.11539999999999999 \n', '\n', '1890 62979766 11547127 0.1833 \n', '\n', '1900 76303387 11854000 0.15539999999999998 \n', '\n', '1910 91972266 15968000 0.1707 \n', '\n', '1920 105710620 25117000 0.2376 \n', '\n', '1930 122775046 40156000 0.3271 \n', '\n', '1940 131669275 67527000 0.5129 \n', '\n', '1950 151325798 91462000 0.6043999999999999 \n', '\n', '1960 179323175 127934000 0.7134 \n', '\n', '1970 203302031 247653000 1.22 \n', '\n', '1980 226542199 1078488000 4.76 \n', '\n', '1990 248718301 2492830000 10.02 \n', '\n', '2000 281421906 4500000000 15.99 \n', '\n', '2010 308745538 13000000000 42.11 \n', '\n']