<a href="https://colab.research.google.com/github/nazia-noor/DATA690_Nazia/blob/main/assignment_02/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Accepting user input 
- user input to enter 10 integers.
- return a message with "Only integer is allowed.Please try again" if the user enter anything other than only integer and  remind her that only integers are allowed.
- print the 10 integers at the end.

In [1]:
lst = []
while len(lst)<10:
  x= input ("Enter an integer: ")
  try:
    y = int(x)
    lst.append(y)
    print("got integer: ",y)
  except:
    print("Only integer is allowed.Please try again")

Enter an integer: 9
got integer:  9
Enter an integer: -2
got integer:  -2
Enter an integer: 12
got integer:  12
Enter an integer: jhgj
Only integer is allowed.Please try again
Enter an integer: 90
got integer:  90
Enter an integer: nazia
Only integer is allowed.Please try again
Enter an integer: 6
got integer:  6
Enter an integer: umbc
Only integer is allowed.Please try again
Enter an integer: 80
got integer:  80
Enter an integer: 12
got integer:  12
Enter an integer: 30
got integer:  30
Enter an integer: 17
got integer:  17
Enter an integer: 40
got integer:  40

In [2]:
print("The list of 10 integer values: ",lst)

The list of 10 integer values:  [9, -2, 12, 90, 6, 80, 12, 30, 17, 40]

## 2. Calculate "Mean"

In [3]:
# first calculate the total of all the integer values)
total=0
for i in lst:
  total += i
print("Total of all the values: ",total)

Total of all the values:  294

In [4]:
#Calculating the mean
a = total/len(lst)
print("Mean of the values: ", a)

Mean of the values:  29.4

## 3.Calculate "Minimum"

In [5]:
min_value = lst[0]
i=0
while(i<len(lst)):
    if lst[i] < min_value:
        min_value = lst[i]
    i+=1
print("The minimum value: ",min_value)

The minimum value:  -2

## 4.Calculate "Maximum"

In [6]:
max_value = lst[0]
i=0
while(i<len(lst)):
  if lst[i] > max_value:
    max_value = lst[i]
  i+=1

print("The maximum value: ",max_value)

The maximum value:  90

5. ## 3.Calculate "Range"

In [7]:
range=max_value-min_value
print ("Range of the values from",min_value, "to", max_value,"is", range)

Range of the values from -2 to 90 is 92

## 6. Calculate "Variance"

In [8]:
#calculate the sum of the sqaured deviation
sum_of_square = 0
for i in lst:
  sum_of_square += (i-a)**2
print("Sum of square = ",sum_of_square)

Sum of square =  9054.400000000001

In [9]:
variance= sum_of_square/len(lst)
print("Variance: ",variance)

Variance:  905.4400000000002

## 7.Calculate "Standard Deviation"

In [10]:
Standard_deviation= variance**0.5
print("Standard deviation: ",Standard_deviation)

Standard deviation:  30.09053007176843